<div class=""container mt-4>

  <h2 class="text-center">Lista de Tarefas</h2>
  <button class="btn btn-primary" (click)="navegar()">Adicionar Tarefa</button>

  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Status</th>
        <th>Ações</th>
        <th>Descrição</th>
        <th>Deletar</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr *ngFor="let tarefa of tarefas ; let i=index">
        <td>{{i+1}}</td>
        <td>{{tarefa.titulo}}</td>
        <td>{{tarefa.concluida}}</td>
        <td>{{tarefa.descricao}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="excluirTarefa(tarefa.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
